/* Fonts */
@font-face {
  font-family: 'circular';
  src: url('../fonts/circular-medium.ttf') format('ttf'), url('../fonts/circular-medium.woff') format('woff');
}

/* Variables */
:root {
  --main-darker: rgb(10, 27, 43);
  --color-dark: rgb(9, 36, 60);
  --color-blue: rgb(0, 105, 217);
  --color-purple: rgb(199, 171, 248);
  --text-xlarge: 40px;
  --text-large: 34px;
  --text-medium: 24px;
  --text-small: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'circular';
}
body {
  background-color: #e5e5e5;
}
/* Reusables */
.space-between {
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.right {
  float: right;
}
.white {
  color: #fff;
}

.disabled {
  display: none;
}
.green-tick-circle {
  width: 15px;
  height: 15px;
  background-color: #20c08d;
  border-radius: 50%;
}
.verfified-tick {
  padding-bottom: 3px;
}
/* Buttons */
.close-button {
  background: none;
  border: none;
}
/* Announcement */

.announcement-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--main-darker);
  height: 52px;
  width: 100%;
}
.benefit-text-item {
  color: #7d8089;
}
.announcement-icon {
  background-color: var(--color-purple);
  width: 96px;
  height: 25px;
  border-radius: 100px;
  margin: 12.5px;
}
.announcement-icon-text {
  position: relative;
  left: 60%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 10px;
}
.announcement-intro-text {
  font-size: 10px;
  width: 229px;
  margin: 12.5px 0 0 0px;
  font-weight: 100;
}

/* Navigation */

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  height: 75px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-darker);
}

.nav-menu {
  display: flex;
  z-index: 200;
}

.nav-item {
  margin-left: 1.25rem;
  list-style: none;
}

.nav-link {
  color: var(--main-darker);
  text-decoration: none;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 400;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ffffff;
}
.language {
  padding-right: 15px;
  display: inline;
  border-right: solid rgba(9, 36, 60, 0.2) 1px;
  margin-right: 20px;
}

.navigation-pane {
  position: absolute;
  width: 300px;
  height: 75px;
  right: 0;
  padding-top: 22px;
}
.get-started-button {
  background-color: var(--color-blue);
  height: 34px;
  width: 114px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: #fff;
}

/* Call to action (CTA) */

.cta-container {
  height: 350px;
}

.cta-title {
  position: relative;
  padding: 0 30px 0 30px;
  margin: 0 auto;
  font-size: 30px;
  color: var(--main-darker);
  text-align: center;
  margin: 50px 0 30px 0;
  line-height: 1;
}
.cta-info {
  font-size: 20px;
  color: #7d8089;
  text-align: center;
}
.cta-trial-button-container {
  padding: 20px;
  text-align: center;
}
.cta-trial-button {
  color: var(--color-blue);
  border-radius: 8px;
  background: none;
  border: var(--color-blue) 1px solid;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.cta-outro {
  text-align: center;
}

/* Cards */
.card-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  margin: 10px;
  max-width: 432px;
  height: 1300px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-top: var(--color-blue) 4px solid;
}
.card-title {
  height: 90px;
  padding: 40px;
}
.card-introduction {
  margin: 0 auto;
  width: 70%;
  height: 110px;
}
.card-pricing {
  height: 90px;
}
.card-text-highlight {
  color: #7d8089;
  font-size: 20px;
}
.card-button {
  width: 212px;
  height: 48px;
  background-color: var(--color-blue);
  border-radius: 8px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
}
.card-additional-info-container {
  color: #49545e;
  height: 100px;
}
.card-additional-info-highlighted {
  margin-top: 3px;
  color: #7d8089;
}
.card-transactionfee-container {
  height: 75px;
  border-top: 1px solid #e6e6e8;
  border-bottom: 1px solid #e6e6e8;
  margin: 0 40px 0 40px;
  padding: 25px;
}

.storefront-vendors-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
.storefront-list-item {
  color: #7d8089;
}
.storefront-new-circle {
  background-color: var(--color-purple);
  width: 60px;
  height: 20px;
  border-radius: 60px;
  padding: 5px;
  padding-left: 15px;
  padding-top: 4px;
  font-size: 12px;
  margin-right: 10px;
}
.storefront-vendors-header {
  height: 40px;
  margin-top: 30px;
}
.storefront-description {
  color: #7d8089;
  height: 75px;
  border-bottom: solid rgba(65, 69, 71, 0.2) 1px;
}
.learn-more {
  color: var(--color-blue);
}

/* Plugin example section */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mobile-example-image {
  width: 660px;
  height: 792px;
}
.plugin-text {
  padding: 40px;
  height: 400px;
  width: 700px;
  font-size: 32px;
}
/* Features section */
.features-container {
  background-color: var(--main-darker);
  width: 100%;
  height: auto;
  padding: 50px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 5px;
}
#customers th {
  border-bottom: 1px solid rgba(226, 226, 226, 0.2);
}
#customers td {
  border-bottom: 1px solid rgba(226, 226, 226, 0.2);
  padding: 8px;
  color: white;
  padding: 20px;
}
#customers td:nth-child(2) {
  background-color: var(--color-dark);
}
#customers th:nth-child(1) {
  width: 400px;
}
#customers th:nth-child(2) {
  background: url('../images/logo-white.png');
  background-repeat: no-repeat;
  background-color: var(--color-dark);
}
#customers th:nth-child(3) {
  background: url('../images/bigcommerce.png');
  background-repeat: no-repeat;
}
#customers th:nth-child(4) {
  background: url('../images/shopify.png');
  background-repeat: no-repeat;
}
#customers th:nth-child(5) {
  background: url('../images/Magento.png');
  background-repeat: no-repeat;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
.no-devs-needed {
  background-color: var(--color-blue);
  position: absolute;
  width: 137px;
  height: 137px;
  border-radius: 50%;
  right: 15%;
}
.no-devs-needed-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(20deg);
  color: #fff;
  text-align: center;
  font-size: 20px;
}

/* Specifications section */
.specifications-header > header {
  font-size: 60px;
  padding: 30px 0 0 30px;
}
.specifications-header > h3 {
  font-size: 18px;
  color: #49545e;
  padding: 30px;
}
.specifications-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f0ed;
}
.box {
  position: relative;
  height: 400px;
  border: 1px solid rgba(9, 36, 60, 0.2);
}
.box > header {
  padding: 50px 0 0 10px;
  height: 100px;
  font-size: 26px;
  color: #0a1b2b;
}
.box > h3,
.box > img,
.box > p {
  padding: 40px 0 0 10px;
  color: #49545e;
}

/* Companies we work with */
.companies-we-work-with-container {
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 0) 0%,
    rgba(248, 248, 248, 0.869778) 24.76%,
    #f8f8f8 68.95%,
    rgba(248, 248, 248, 0) 100%
  );
  margin-bottom: 150px;
}

.companies-title {
  font-size: 18px;
  margin-bottom: 50px;
}
.companies-container {
  display: flex;
  flex-direction: row;
}

.companies-we-work-with-container header {
  text-align: center;
  height: 100px;
  padding-top: 80px;
}
.company-item img {
  width: fit-content;
  height: auto;
}
.company-item {
  position: relative;
  width: 180px;
  height: 112px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  text-align: center;
  padding-top: 25px;
}
.company-item:nth-child(5) {
  margin-bottom: 40px;
}
.companies-button-container {
  width: 100%;
  justify-content: center;
  text-align: center;
}

/* New store showcase section */
.new-store-description {
  margin-top: 100px;
}
.new-store-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.new-store-image {
  width: 75%;
  height: auto;
  margin-left: 40px;
}
.new-store-description > header {
  font-size: 44px;
  height: 120px;
}
.new-store-description > p {
  font-size: 22px;
  color: #49545e;
  height: 175px;
}

/* FAQs */
.faq-container {
  margin: 20px;
}
.faq-container > header {
  height: 125px;
  padding: 20px;
  font-size: 60px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid #e6e6e8;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 10px;

  display: none;
  background-color: white;
  overflow: hidden;
  height: 40px;
}
.panel > p {
  font-size: 16px;
  color: #49545e;
}
/* Apply for grant */
.apply-for-grant-container {
  margin: 30px auto;
  width: 70%;
  border-radius: 20px;
  background-color: #e5c4a3;
  margin-bottom: 150px;
  margin-top: 150px;
}
.apply-title {
  padding: 50px 0 30px 50px;
  width: 100%;
  font-size: 28px;
}
.apply-description {
  padding: 0px 0 0 50px;
  width: 100%;
  font-size: 18px;
  color: #0a1b2b;
}
.apply-for-grant-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Apply for grant */

.apply-for-grant-container {
  margin: 30px auto;
  width: 70%;
  border-radius: 20px;
  background-color: #e5c4a3;
  margin-bottom: 150px;
  margin-top: 150px;
}
.apply-title {
  padding: 50px 0 30px 50px;
  width: 100%;
  font-size: 28px;
}
.apply-description {
  padding: 0px 0 0 50px;
  width: 100%;
  font-size: 18px;
  color: #0a1b2b;
}
.apply-for-grant-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .specifications-container {
    position: relative;
    display: block;
    width: 100%;
  }
  .grid {
    display: block;
  }
  .mobile-example-image {
    width: 100%;
    height: auto;
    margin-top: 200px;
  }
  .plugin-text {
    padding: 40px;
    height: 400px;
    width: 100%;
    font-size: 32px;
  }
  .apply-title {
    padding: 50px 0 30px 30px;
  }
  .apply-description {
    padding: 0px 0 0 30px;
  }
  .apply-for-grant-container {
    height: 680px;
    z-index: 20;
    margin-bottom: 75px;
    margin-top: 75px;
  }

  .apply-for-grant-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .card {
    height: 1300px;
  }
  .card-container {
    flex-direction: column;
    margin: 0 0 0 0;
  }
  .navbar {
    justify-content: space-between;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
